---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Frame from "../components/Frame.astro";

const messages = await getCollection("messages");
---

<Layout title="Welcome to Astro.">
  <main class="h-screen flex justify-start items-center">
    <div
      class="w-[50vw] shrink-0 snap-start h-screen flex flex-col justify-center px-40 gap-80"
    >
      <div class="flex flex-col gap-8">
        <p
          class="font-serif text-[200px] leading-normal capsize transform -translate-x-8"
        >
          Galerie
        </p>
        <p class="font-serif text-[132px] leading-normal capsize">du Marcus</p>
      </div>
      <p class="font-sans text-2xl capsize">
        You are warmly invited to a special exhibition showcasing some of SD4’s
        favourite moments captured through the lens, eyes and very big heart of
        Marcus!
      </p>
    </div>
    <div class="flex justify-between items-center">
      {
        messages.map((message, idx) => (
          <Frame
            author={message.data.author}
            imagePath={message.data.imagePath}
            contents={message.body}
            index={idx}
          />
        ))
      }
      {
        messages.map((message, idx) => (
          <Frame
            author={message.data.author}
            imagePath={message.data.imagePath}
            contents={message.body}
            index={idx}
          />
        ))
      }
      {
        messages.map((message, idx) => (
          <Frame
            author={message.data.author}
            imagePath={message.data.imagePath}
            contents={message.body}
            index={idx}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
