---
import type { CollectionEntry } from "astro:content";

interface Props {
  message: CollectionEntry<"messages">;
}

const { message } = Astro.props;
---

<div
  class="exhibit-label absolute left-1/2 top-1/2 z-50 h-[6vw] w-[10vw] translate-x-[calc(15vw*1.45+1vw)] translate-y-[calc(11.75vw*1.45-100%)] transform bg-white p-[0.5vw] transition-transform duration-500 ease-[cubic-bezier(0.32,0,0.67,0)]"
>
  <div
    class="small-label flex h-full w-full flex-col justify-between opacity-100 transition-opacity duration-500 ease-[cubic-bezier(0.32,0,0.67,0)]"
  >
    <p class="font-bold font-aside text-sm leading-4 capsize">
      {message.data.title}
    </p>
    <div class="flex flex-col gap-[0.5vw]">
      <p class="self-end italic font-aside text-xs capsize">2024</p>
      <p class="self-end font-aside text-xs capsize">
        {message.data.image.properties.focalLength}mm f/{
          message.data.image.properties.aperture
        }
        {message.data.image.properties.shutterSpeed}
      </p>
    </div>
  </div>
  <div
    class="large-label absolute left-0 top-0 z-50 h-[39vw] w-[65vw] origin-top-left scale-[0.154] transform bg-white p-40 opacity-0 transition-all duration-500 ease-[cubic-bezier(0.32,0,0.67,0)]"
  >
    <div class="flex flex-col">
      <p class="font-bold font-aside text-5xl leading-4 capsize">
        {message.data.title}, 2024
      </p>
      <p class="mt-40 font-aside text-3xl capsize">
        {message.data.image.properties.focalLength}mm f/{
          message.data.image.properties.aperture
        }
        {message.data.image.properties.shutterSpeed}
      </p>
      <p class="mt-80 font-sans text-xl capsize">
        {message.body}
      </p>
    </div>
  </div>
</div>

<style>
  .label-expanded {
    transform: translate(-50%, -50%) scale(6.5);
  }

  .label-expanded > .small-label {
    opacity: 0;
  }

  .label-expanded > .large-label {
    opacity: 100;
  }
</style>

<script>
  document.querySelectorAll(".exhibit-label").forEach((label) => {
    label.addEventListener("click", () => {
      label.classList.toggle("label-expanded");
    });
  });
</script>
