---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="overscroll-none">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content="https://galeriedumarcus.vercel.app/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/og-images/og-image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/og-images/twitter-summary-large.png" />
    <title>{title}</title>
  </head>
  <body class="bg-noise bg-stone-200">
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: "PP Acma";
    src:
      url("/fonts/PPAcma-Medium.woff2") format("woff2"),
      url("/fonts/PPAcma-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "PP Telegraf";
    src:
      url("/fonts/PPTelegraf-Ultralight.woff2") format("woff2"),
      url("/fonts/PPTelegraf-Ultralight.woff") format("woff");
  }

  @font-face {
    font-family: "PP Neue Montreal";
    src:
      url("/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
      url("/fonts/PPNeueMontreal-Book.woff") format("woff");
    font-weight: normal;
  }

  @font-face {
    font-family: "PP Neue Montreal";
    src:
      url("/fonts/PPNeueMontreal-Medium.woff2") format("woff2"),
      url("/fonts/PPNeueMontreal-Medium.woff") format("woff");
    font-weight: bold;
  }

  html {
    font-size: 1vw;
  }

  .disable-scroll {
    overflow-x: hidden;
  }
</style>
